<%= stylesheet_link_tag params[:controller] %>
<%= javascript_include_tag "timetable.js" %>
<% provide(:title, 'Редактирование расписания') %>

<script type="application/javascript">
  //var changed = false;
  var initialized = false;

  function day_places_change(source){
    selects = source.closest("td").querySelectorAll(".timetable-element select");

    for(i=0; i<selects.length;i++ ){
      selects[i].value = source.value;
    }

    //changed = true;
    $("[name='commit']").removeAttr('disabled');
  }

  $( document).ready(function(){
    ///changed = false;
    if (!initialized) {
      init(document.getElementById("addEventsBtn"));
      initialized = true;
    }
  });
</script>

<script type="application/javascript"  data-turbolinks-eval="false">
  $( document ).on('turbolinks:render', function() {
    //console.info(initialized);
    //console.info(gridTable);
    if (!initialized) {
      init(document.getElementById("addEventsBtn"));
      initialized = true;
    }
  })
</script>


<div id="edit_modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div>
    <div>
      <div class="timetable" >
        <div id="addEventsBtn" class="addeventsbtn">
          <a class="btn btn-success btn-circle-min" onclick="appendrangesAjax()" title="Добавить элемент расписания" >
            <i class="glyphicon glyphicon-plus"></i>
          </a>
          <div class="eventsinterval panel">
            <span>Интервал:</span>
            <ul>
              <li><input type="radio" name="interval" value="1"><span>15 мин</span></li>
              <li><input type="radio" name="interval" value="2"><span>30 мин</span></li>
              <li><input type="radio" name="interval" value="3"><span>45 мин</span></li>
              <li><input type="radio" name="interval" value="4"><span>1 час</span></li>
            </ul>
          </div>
        </div>
        <%= render 'shared/timetable_grid', settings: @settings %>
        <%= week_calendar events: @timetables do |date, timetables| %>
          <% @disable_controls = date.to_date < Date.current.to_date %>
          <div class="timetable-day-header" data-wday="<%= date.to_date.cwday  %>">
            <%= select_tag "placegroup", options_for_select(@places),  {class: "form-control day", onchange: "changePlaces(this);", disabled: @disable_controls }  %>
            <a class="btn btn-danger btn-circle-micro btn-delete-events" onclick="deleteDayEvents(this)" title="Удалить все элементы расписания за день" >
              <i class="glyphicon glyphicon-remove"></i>
            </a>
          </div>
          <% @last_end_time = Time.now.to_time %>
          <div class="timetable-day-body wday-<%= date.to_date.cwday%>" style="height: <%= (@settings[:latest_hour]-@settings[:earler_hour]) * @settings[:pixel_per_hour] %>px;" >
          <% timetables.each do |timetable| %>
                <%= render 'event_element', timetable: timetable, settings:@settings, places: @places %>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
</div>