<% provide(:title, 'Пациенты') %>
<div class="row">
  <div class="class=col-md-6 col-md-offset-3">
    <h1>Пациенты</h1>
    <%= form_tag("/customers", method: "get") do %>
        <div class="input-group col-md-12 search">
        <%= text_field_tag(:customer_name, "", class: "form-control input-lg", placeholder: "Введите имя пациента для поиска") %>
          <span class="input-group-btn">
            <%= button_tag(type: "submit", class:"btn btn-info btn-lg") do %>
              <i class="glyphicon glyphicon-search"></i>
            <% end %>
          </span>
        </div>
    <% end %>
    <%= will_paginate %>
    <ul class="list-group">
      <%= render @customers %>
    </ul>
    <%= will_paginate %>
  </div>
</div>