<div class="simple-calendar">
  <div class="calendar-heading">
    <% @daterange = date_range%>
    <%= link_to calendar.url_for_previous_view, title: "Предыдущая неделя" do %>
        <i class="glyphicon glyphicon-arrow-left"></i>
    <% end %>
    <% if calendar.number_of_weeks == 1 %>
      <span class="calendar-title">С <%=date_range[0].strftime("%d.%m")%> по <%=date_range[-1].strftime("%d.%m")%></span>
    <%else%>
        <span class="calendar-title">Неделя <%= calendar.week_number %> - <%= calendar.end_week %></span>
    <%end%>
        <%= link_to calendar.url_for_next_view, title: "Следующая неделя"  do %>
        <i class="glyphicon glyphicon-arrow-right"></i>
    <% end %>
  </div>
  <%
    t('date.abbr_day_names')[1] = 'Пн'
    t('date.abbr_day_names')[2] = 'Вт'
    t('date.abbr_day_names')[3] = 'Ср'
    t('date.abbr_day_names')[4] = 'Чт'
    t('date.abbr_day_names')[5] = 'Пт'
    t('date.abbr_day_names')[6] = 'Сб'
    t('date.abbr_day_names')[0] = 'Вс'
  %>
  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="text-nowrap"><%= t('date.abbr_day_names')[day.wday]%>, <%=day.strftime("%d.%m") %> </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
          <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
