<% provide(:title, 'Редактирование записи') %>

<script type="application/javascript">
  $(document).ready(function() {

    $('div.expandable').expander({
      slicePoint:       0,
      expandText: 'подробнее...',
      userCollapseText: 'скрыть подробности'
    });
  });
  function clr()
  {
    if ($('#id').val() != '') {
      $('#id').val("");
      $('#email').val("");
      $('#phone').val("");
      $('#birth_date').val("");
      $('#address').val("");
    }
  }
</script>

<h1>Редактирование записи</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@appointment) do |f| %>
        <%= render 'shared/error_messages', object: @appointment, title: "Ошибки при изменении записи на прием: " %>
        <%= fields_for(@appointment.customer) do |customer_fields| %>

            <%= customer_fields.hidden_field :id, id: 'id' %>
            <%= customer_fields.label :name, "Пациент:" %>
            <%= customer_fields.autocomplete_field :name, autocomplete_customer_name_appointments_path, onkeyup: "clr()", :update_elements => {:email => '#email', :phone => '#phone', :birth_date => '#birth_date', :address => '#address', :id => '#id'}, class: "form-control"%>
            <div class="expandable">
              <%= render 'shared/customer_additional_fields', f:customer_fields %>
            </div>
        <% end %>
        <%= render 'appointment_fields', f: f %>

        <%= f.submit "Изменить", class: "btn btn-large btn-primary" %>
        <%= link_to "Удалить", @appointment, method: :delete, class: "btn btn-large btn-primary",
                    data: { confirm: "Удалить запись от #{@appointment.start_time.strftime("%d.%m %H:%M")} для #{@appointment.customer.name} ?" } %>
    <% end %>
  </div>
</div>