<% provide(:title, 'Новая запись') %>

<script type="application/javascript">
  $(document).ready(function() {

    $('div.expandable').expander({
      slicePoint:       0,
      expandText: 'подробнее...',
      userCollapseText: 'скрыть подробности'
    });
  });
    function clr()
    {
      if ($('#id').val() != '') {
        $('#id').val("");
        $('#email').val("");
        $('#phone').val("");
        $('#birth_date').val("");
        $('#address').val("");
      }
    }
</script>

<h1>Новая запись</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@appointment) do |f| %>
        <%= render 'shared/error_messages', object: @appointment, title: "Ошибки при добавлении записи на прием: " %>
        <%= fields_for(@appointment.customer) do |customer_fields| %>
            <%= customer_fields.hidden_field :id, id: 'id' %>
            <%= customer_fields.label :name, "Пациент:" %>
            <%= customer_fields.autocomplete_field :name, autocomplete_customer_name_appointments_path, onkeypress: "clr()", :update_elements => {:email => '#email', :phone => '#phone', :birth_date => '#birth_date', :address => '#address', :id => '#id'}, class: "form-control"%>
            <div class="expandable">
              <%= render 'shared/customer_additional_fields', f:customer_fields %>
            </div>
        <% end %>
        <%= render 'appointment_fields', f: f %>

        <%= f.submit "Добавить запись", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%#= debug(@appointment) if Rails.env.development? %>
