<li class="list-group-item">
  <span class="placename">
    <a href="/places/<%=place.id %>/edit" >
      <%= place.name %>
    </a>
  </span>
  <span class="phone"><a href="tel:<%=place.phone %>" >, Тел: <%= place.phone %></a></span>
  <span class="address">, Адрес: <%= place.address %></span>
</li>