<nav class="navbar navbar-default navbar-fixed-top ">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "На главную", root_path %></li>
      <% if signed_in? %>
          <% if is_admin? %>
            <li><%= link_to "Расписание", timetables_editweek_path %></li>
            <li><%= link_to "Пациенты", customers_path %></li>
              <li><%= link_to "Мед. центры", places_path %></li>
          <% end %>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= current_user.name%> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% if !is_admin? %>
              <li class="dropdown-item"><%= link_to "Профиль", '/customers/edit' %></li>
              <li class="dropdown-divider"></li>
            <% end %>
            <li class="dropdown-item"><%= link_to "Учетная запись", "/users/#{current_user.id}/edit" %></li>
            <li class="dropdown-item"><%= link_to "Выход", '/signout', method: "delete" %></li>
          </ul>
        </li>
      <% else %>
          <li><%= link_to "Регистрация", '/signup' %></li>
          <li><%= link_to "Вход", '/signin' %></li>
      <% end %>
    </ul>

  </div>
</nav>