<!DOCTYPE html>
<html>
  <head>
    <title>Запись на прием | <%= yield(:title) %> </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>-->
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "/layouts/header" %>
    <div class="container">
      <% flash.each do |key, value| %>
          <!--<div class="alert alert-<%= key %>"><%= value %></div>-->
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
    <%= yield %>
    <%= render "/layouts/footer" %>
    </div>
  </body>
</html>
